[submodule "Streetlighting"]
	path = specs/Streetlighting
	url = https://github.com/front-runner-smart-cities/dataModel.Streetlighting
[submodule "WasteManagement"]
	path = specs/WasteManagement
	url = https://github.com/smart-data-models/dataModel.WasteManagement
[submodule "Alert"]
	path = specs/Alert
	url = https://github.com/smart-data-models/dataModel.Alert
[submodule "Device"]
	path = specs/Device
	url = https://github.com/smart-data-models/dataModel.Device
[submodule "Environment"]
	path = specs/Environment
	url = https://github.com/smart-data-models/dataModel.Environment
[submodule "Parking"]
	path = specs/Parking
	url = https://github.com/smart-data-models/dataModel.Parking
[submodule "PointOfInterest"]
	path = specs/PointOfInterest
	url = https://github.com/smart-data-models/dataModel.PointOfInterest
[submodule "Transportation"]
	path = specs/Transportation
	url = https://github.com/smart-data-models/dataModel.Transportation
[submodule "Weather"]
	path = specs/Weather
	url = https://github.com/smart-data-models/dataModel.Weather
