[submodule "specs/pending"]
	path = specs/pending
	url = https://github.com/smart-data-models/pending.git
[submodule "specs/SmartManufacturing"]
	path = specs/SmartManufacturing
	url = https://github.com/smart-data-models/SmartManufacturing.git
[submodule "specs/SmartRobotics"]
	path = specs/SmartRobotics
	url = https://github.com/smart-data-models/SmartRobotics.git
[submodule "specs/SmartWater"]
	path = specs/SmartWater
	url = https://github.com/smart-data-models/SmartWater.git
[submodule "specs/SmartAeronautics"]
	path = specs/SmartAeronautics
	url = https://github.com/smart-data-models/SmartAeronautics.git
[submodule "specs/SmartAgrifood"]
	path = specs/SmartAgrifood
	url = https://github.com/smart-data-models/SmartAgrifood.git
[submodule "specs/SmartCities"]
	path = specs/SmartCities
	url = https://github.com/smart-data-models/SmartCities.git
[submodule "specs/SmartEnergy"]
	path = specs/SmartEnergy
	url = https://github.com/smart-data-models/SmartEnergy.git
[submodule "specs/SmartEnvironment"]
	path = specs/SmartEnvironment
	url = https://github.com/smart-data-models/SmartEnvironment.git
[submodule "specs/SmartHealth"]
	path = specs/SmartHealth
	url = https://github.com/smart-data-models/SmartHealth.git
[submodule "specs/SmartLogistics"]
	path = specs/SmartLogistics
	url = https://github.com/smart-data-models/SmartLogistics.git
[submodule "specs/CrossSector"]
	path = specs/CrossSector
	url = https://github.com/smart-data-models/CrossSector.git
